body {
    background-image: url("./13206-2880x1800-desktop-hd-doctor-who-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    color: #fff;
    padding: 25px;
    font-family: sans-serif;
}

#imgMain {
    width: 750px;
    height: 330px;
}